API_PROXY_BASE=http://localhost:8080
NEXT_PUBLIC_ALEO_EXPLORER_API=https://api.explorer.provable.com/v1
NEXT_PUBLIC_ALEO_NETWORK=testnet
NEXT_PUBLIC_EXECUTION_FEE_ALEO=0.25
NEXT_PUBLIC_EXECUTION_FEE_COMPAT_MODE=aleo_only
NEXT_PUBLIC_SUBSCRIPTION_PROGRAM_ID=sub_pay_v3_xwnxp.aleo
